/node_modules
/public/hot
/public/storage
public/padmin34/
public/assets/category/
public/assets/images
public/assets/subcategory/
public/assets/company/
public/assets/profile-pic/

/storage/*.key
/vendor
.idea/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
padmin
